:root {
    --primary: #2e7d32;
    --secondary: #81c784;
    --dark: #1b5e20;
    --light: #f1f8e9;
    --text: #333;
}

body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    color: var(--text);
    scroll-behavior: smooth;
    background-color: #fff;
}

/* Hero Section (A entrada do site) */
.hero {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('https://images.unsplash.com/photo-1523348837708-15d4a09cfac2?auto=format&fit=crop&w=1350&q=80');
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 0 20px;
}

.hero h1 { font-size: 3rem; margin-bottom: 10px; }
.hero p { font-size: 1.2rem; max-width: 600px; }

/* Cards de Funcionalidades */
.features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 50px 10% ;
    background-color: var(--light);
}

.card {
    background: white;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    transition: transform 0.3s;
}

.card:hover { transform: translateY(-10px); }
.card h3 { color: var(--primary); }

/* Seção Sobre */
.about { padding: 80px 15%; text-align: center; }

.btn {
    background-color: var(--primary);
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}
